GOOGLE_GEMINI_API_KEY=$(op read "op://Development/Google AI Studio Key/notesPlain")
SUPABASE_URL=$(op read "op://thefocus/podcast url/notesPlain")
SUPABASE_ANON_KEY=$(op read "op://thefocus/podcast anon key/notesPlain")