GOOGLE_GEMINI_API_KEY=$(op read "op://Development/Google AI Studio Key/notesPlain")
SUPABASE_URL=$(op read "op://thefocus/transformer url/notesPlain")
SUPABASE_ANON_KEY=$(op read "op://thefocus/transformer anon/notesPlain")
DATABASE_URL=postgresql://postgres.lunenijkmefvmdwnwedh:$(op read "op://thefocus/transformer db/notesPlain")@aws-0-us-east-1.pooler.supabase.com:5432/postgres